**LOADING DATA FROM RECORD.JSON**

In [10]:
import json
fd= open("record.json",'r')
r=fd.read()
fd.close()
record=json.loads(r)

In [11]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 11},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 94},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 985},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 91},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 6},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

**PURCHASING ITEMS**

In [24]:
purchase_Item_ID=input("Enter the product_Id: ")
Item_quant = int(input("Enter the quantity: "))
for i in record.keys():
  if ((purchase_Item_ID==i) and (Item_quant <= record[purchase_Item_ID]['qn'] )):
    print("***********************")
    print("Name: ", record[purchase_Item_ID]['name'])
    print("Price: ",record[purchase_Item_ID]['pr'])
    print("Quant: ",Item_quant)
    print("------------------------")
    print("Billing Amout: ", Item_quant * record[purchase_Item_ID]['pr'])
    print(" *********************** ")
    record[purchase_Item_ID]['qn'] = record[purchase_Item_ID]['qn'] - Item_quant

Enter the product_Id: 1001
Enter the quantity: 5
***********************
Name:  Choco Cake
Price:  100
Quant:  5
------------------------
Billing Amout:  500
 ***********************

In [25]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 6},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 91},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 96},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 985},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 91},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 6},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

**sales**

In [27]:
sales = {1 : {'prod' : purchase_Item_ID , 'qn' :Item_quant , 'amount': record[purchase_Item_ID]['pr'] * Item_quant}}

In [28]:
import json
js=json.dumps(sales)
fd=open("sale.json",'w')
fd.write(js)
fd.close()
sales

{1: {'amount': 500, 'prod': '1001', 'qn': 5}}